<h1>Welcome To The Mahaswami Software Attendance Monitoring System</h1>

<p>Your Email Id : <%= @admin.email %></p>

<p>Want to Login Your Account : <a href="http://172.17.0.3:3000/admins/sign_in">Click here</a></p>

<strong>Thank You For Registering Our Website</strong>